/* Agrega aquí tus estilos*/
* {
	font-family: 'Ubuntu', sans-serif;
}

body {
	margin: 0;
	background-color: #504372;
	color: #F3F3F3;	
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Bree Serif', serif;
	font-weight: 400;
	padding: 20px;
}

header h1 {
	font-size: 40px;
	background-image: url(http://www.mrwallpaper.com/wallpapers/space-red-nebulae.jpg);
	background-repeat: no-repeat; 
	background-attachment: fixed;
	background-size: 100%;
	color: #F7FFC4;
	text-align: left;
	padding: 30px;
	margin: 0;
}

header h2 {
	font-size: 30px;
	color: #FFE8A2;
}

h3 {
	font-size: 20px;
	color: #FFD249;
}

p {
	margin-left: 20px;
	text-align-last: left;
	margin-right: 20px;
}

a {
	text-decoration:none; 
	color: #FFF82D;
}

a:visited {
	text-decoration:none; 
	color:#FF0FDA;
}

a:hover {
	text-decoration:underline; 
	color:#FFBFE3; 
	background: #6D01FF;
}

.summary {
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	background: #FFD0DC;
	margin: 20px;
	overflow: hidden;
	padding: 20px;
	border-radius: 35px 0px 35px 0px;
	-moz-border-radius: 35px 0px 35px 0px;
	-webkit-border-radius: 35px 0px 35px 0px;
	line-height: 0.8;
	color: #383838;
}

.summary a {
	text-decoration:none;
	color: #85098D;
}

.preamble p + p + p {
   background: #C1F0FF;
   margin: 20px;
   padding: 20px;
   color: #383838;
}

.explanation p {
	font-family: 'Delius Swash Caps', cursive;
	color: #FCF9D9;
	margin-right: 20px;
	font-size: 17px;
}

.select {
	margin: 20px;
}

.design-name {
	color: #5312BD;
}

.designer-name {
	color: #9F12BD;
}

.design-selection ul {
	counter-reset: li; 
    list-style: none; 
    *list-style: decimal; 
    padding: 20px;
    margin: 20px;
}

.design-name {
    margin: 0 0 0 2em; 
}

.design-selection {
    list-style-type: none;
    list-style-type: decimal !ie;
     
    margin: 0;
    margin-left: 3em;
    padding: 0;
     
    counter-reset: li-counter;
}

.design-selection ul > li{
    position: relative;
    margin-bottom: 20px;
    padding: 1em;
    background-color: #FFD0DC;
    color: #383838;
}

.design-selection ul > li:before {
    position: absolute;
    top: 0;
    left: -0.95em;
    width: 1em;
 
    font-size: 4em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #FFBD1F;
     
    transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    z-index: -99;
    overflow: hidden;
     
    content: counter(li-counter);
    counter-increment: li-counter;
}

footer {
	margin: 20px;
	font-style: cursive;
}